*.csv
*.html
*.xls
*.xlsx
doctor.dict
lsi.dict
lsi.dict.projection
oauth_credentials
oauth_credentials.txt
Exploring_stopwords.ipynb
*.dict
vis_data.p
doctor_bow_for_lda.mm.index
Scale_features.ipynb
norm_gammas.p
bid_gmeans.p
KAsql.pyc
APIkeys.ipynb
APIkeys.py
Untitled.ipynb
temp.html
debug.ipynb
Binary_tree.ipynb
coding_practice.ipynb
LDA_Apply.ipynb
SVD_play.ipynb
/older files*