*.csv
*.html
*.xls
*.xlsx
doctor.dict
lsi.dict
lsi.dict.projection
oauth_credentials
Exploring_stopwords.ipynb
*.dict
vis_data.p
doctor_bow_for_lda.mm.index
Scale_features.ipynb
norm_gammas.p
bid_gmeans.p
ortho_review_df.p
ortho_business_df.p
KAsql.pyc
APIkeys.ipynb
APIkeys.py
Untitled.ipynb
temp.html